@tailwind base;
@tailwind components;
@tailwind utilities;
















.navbar-nav a{
  color: #fff;
  font-size: 17px;
}

.dropdown-menu a{
  color: #1f1f1f;
}
.nav-link:focus, .nav-link:hover {
  color: rgb(95 214 92 / 80%);
}


#fixed-social{
  display: flex;
  gap: 1rem;
}

#fixed-social a{
  font-size: 22px;
}

.navbar-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: #1e3932;
  color: #fff;
}

.navbar-container{
  gap: 7rem;
 
}

.dropdown-menuc a {
  color: #1f1f1f;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
   background-color: #1e3932 !important ;
   color: #fff !important;
} 
 
.form-hero-bg {
  background-color: #e1ffea;
  
}
.hero-form{
  padding: 3rem 1rem;
}

.title-form-hero h2{
  background-color: rgb(25 135 84);
    padding: 1rem;
    color: #fff;
    font-size: 21px;
}

.form-control{
  line-height: 2.5;
}

/* Heading Styles */
.heading {
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 72px;
    color: #FFFFFF!important;
    line-height: 1.3em;
    margin-bottom: 25px;
}
.logo{
  font-size: 20px;
  font-weight: bold;
  padding-top: 9px;
  padding-left: 43px;
}
.header-nav{
  padding-top: 10px;
  padding-bottom: 10px;
}

.paragraph {
  color: #fff;
  opacity: 0.7; 
}

/* Button Styles */

  .button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    padding: 11px 26px;
    font-size: 12px;
    letter-spacing: 2px;
}


.button:hover {
  background-color: #c98964; 
  border-color: #c98964; 
}

.story-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px;
}

.left-section {
  flex: 1;
 padding:  40px 56px 10px 85px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.story-heading {
  font-size: 24px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-top: 0;
  position: relative;
}

.story-heading::after {
  content: "";
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 13%; 
  border-bottom: 2px solid #c98964; 
}

.welcome-heading {
  font-size: 36px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.royal-image {
  max-width: 100%;
  height: auto;
}

/* Best Component Styles */
.best-container {
  text-align: center;
  padding: 50px;
  background-color: aliceblue;
}

.best-heading {
  font-size: 16px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-bottom: 10px;
  color: gray;
  text-transform: uppercase;
  position: relative;

}

.best-heading::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 48%;
  width: 5%;
  border-bottom: 3px solid #c98964;
}

.best-sub-heading {
  font-size: 36px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-bottom: 20px;
}

.best-paragraph {
  font-size: 18px;
  margin-bottom: 30px;
  color: gray;
  font-size: 15px;
}

.best-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  padding: 10px 29px;
  font-size: 18px;
  background-color: #c39d63;
  border-color: #c39d63;
}
.gird-price{
  font-size: 30px;
}
.grid-text{
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  font-size: 34px;
}

.image-grid img{
  height: 340px;
}

.text-grid{
  padding: 34px 24px;
}
.image-text-container{
  padding: 0 100px;
}
.comment-container{
  background-color: #333;
}
.image-text-box{
  background-color: #fff;
}

.testimonials-container{
  padding: 50px 100px;
}

.testimonials-heading {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 16px;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    margin-bottom: 10px;
    color: gray;
    text-transform: uppercase;
    position: relative;
}
.testimonials-heading::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 48%;
  width: 5%;
  border-bottom: 2px solid #c98964;
}

.testimonials-subheading {
  text-align: center;
  font-size: 36px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-bottom: 35px 
}

.rating {
 
  font-size: 12px;
  color: #c98964; 
}

.testimonials-grid{
  gap: 30px;
}

.news-container {
  padding: 20px;
}

.news-header {
  text-align: center;
}

.news-heading {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 16px;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    margin-bottom: 10px;
    color: gray;
    text-transform: uppercase;
    position: relative;
}
.news-heading::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 48%;
  width: 5%;
  border-bottom: 2px solid #c98964;
}

.news-subheading {
  text-align: center;
  font-size: 36px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-bottom: 35px 
}

.news-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  margin-bottom: 30px;

}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.news-item {
  
  padding: 20px;
}

.news-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.news-item-heading {
  font-size: 20px;
  
  margin-bottom: 5px;
}

.news-item-subheading {
  font-size: 13px;
  margin-bottom: 5px;
}

.news-item-paragraph {
  font-size: 14px;
  padding: 10px;
}
.news-container{
  padding: 50px 100px;
  background-color: aliceblue;
}

.news-btn{
  display: block;
    margin: 0 auto;
    padding: 4px 18px;
    background-color: #c39d63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    padding: 10px 29px;
    font-size: 18px;
    background-color: #c39d63;
    border-color: #c39d63;
}
.news-deatails{
  padding: 14px;
}

.container-contact {
  background-image: url('https://t4.ftcdn.net/jpg/04/43/37/07/360_F_443370711_sqHRnSIQovW6uyQ5ZwDpd4kjCG8Q6swm.jpg');
  background-size: cover;
  padding: 20px;
  display: grid;
  padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    background-color: rgba(0,0,0,0.75)!important;
 
}






input, button {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.grid1{
  text-align: center;
  color: #fff;
}
.grid1-item {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1f1f1f;
  padding-top: 98px;
  padding-right: 15%;
  padding-bottom: 360px;
  padding-left: 15%;
}
.grid-heading{
  font-size: 30px;
  margin-bottom: 32px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
}

.grid2{
 text-align: center;
 color: #fff;
}
.grid2-item{

  width: fit-content;
  background-color: #1f1f1f;
    padding-top: 100px;
    padding-right: 15%;
    padding-bottom: 150px;
    padding-left: 15%;
}
.form-heading{
  text-align: center;
  font-size: 28px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  
}
.form-pera{

}

.form-input{
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #FFFFFF!important;
}

.form-container{
  margin-bottom: 20px;
}
.form-heanding-1{
  font-size: 28px;
}

.form-btn-1{
  color: #ffffff!important;
    border-width: 2px!important;
    border-color: #c39d63;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
    text-transform: uppercase!important;
    background-color: #c39d63;
    margin-bottom: 80px;
    padding: 6px 13px 
}

.form-pera1{
  margin-bottom: 30px;
}
.form-heanding-1{
  margin-bottom: 14px;
}

.form-btn-2{
  color: #ffffff!important;
    border-width: 2px!important;
    border-color: #c39d63;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
    text-transform: uppercase!important;
    background-color: #c39d63;
    margin-bottom: 80px;
    padding: 6px 88px ;
    margin-top: 13px;
}
.grid-1-btn{
  color: #ffffff!important;
    border-width: 2px!important;
    border-color: #c39d63;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
    text-transform: uppercase!important;
    background-color: #c39d63;
    
    padding: 11px 11px; ;
    margin-top: 40px;
}
.grid-1-heading{
  
  font-size: 28px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  margin-bottom: 55px;
  
}
.one-operation{
  border-bottom: 2px solid #c39d63 !important;
  margin-bottom: 20px;
 
}
.one-operation p{
  margin-bottom: 10px;
 
}
.two-operation{
  border-bottom: 2px solid #c39d63 !important;
  margin-bottom: 20px;
}
.two-operation p{
  margin-bottom: 15px;
}
.one-operation h2{
  font-size: 16px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  font-weight: bold;
}
.two-operation h2{
  font-size: 16px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  font-weight: bold;
}
.third-operation h2{
  font-size: 16px;
  font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
  font-weight: bold;
}

.footer{
  background-color: #1f1f1f;
  padding: 15px;
}
.left-content{
  color: #FFFFFF;
  padding-left: 76px;
  font-size: 18px;
}
.right-content{
  padding-right: 128px;
}
.right-content i{
  color: #FFFFFF;
  padding-left: 21px;
  font-size: 20px;
}

 
@media screen and (max-width: 768px){
  .navbar-container{
    gap: 0rem;
   
  }

  #fixed-social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
   
.bg-body-tertiary {
  --bs-bg-opacity: 1;
   background-color: #fff !important ;
   color: #1f1f1f !important;
} 

.navbar-nav a{
  color: #1f1f1f;
  font-size: 17px;
}

}

@media (min-width: 1280px) {
  .container {
      max-width: 1186px;
  }
}

/* src/CounterBox.css */
.counter-box {
  text-align: center;
  padding: 20px;
  margin: 10px;
  
  border-radius: 8px;
}



.counter-box i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.counter-box .counter {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.counter-box p {
  margin-top: 10px;
  font-size: 1rem;
}


.counter-main{
    margin-top: 2rem;
   background-color: rgb(25 135 84);
   color: #e1ffea;
}

.navbar-nav .nav-link.show {
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) ;
}

.btn-submit{
  background-color: rgb(25 135 84) !important;
  color: #fff;
}

.choose-text h3{
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}









